certifi==2020.6.20
click==7.1.2
comtypes==1.1.10
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
numpy @ file:///D:/bld/numpy_1636145475359/work
Pillow==8.4.0
pypiwin32==223
pyttsx3==2.90
pywin32==302
Werkzeug==1.0.1
wincertstore==0.2
