{% extends 'base.html' %}

{% block content %}
<!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Output Image</p>
    <img src="{{image}}"      >
    <h5 class="lead">{{output}}</h5>
    <p class="mt-5"> <a href="/">Try again</a></p>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2" style="text-align:center">
            <h3 class="mt-5">The Visual Assistance App</h3>
            </div>
            <br>
            <img src="{{ url_for('video') }}" width="50%"> 
        </div>
    </div>
</div>
{% endblock %}
